<!--<?php-->
<!--require "inc/head.inc.php";-->
<!--head("NullSpeak - View");-->
<!--require "inc/requires.inc.php";-->
<!--?>-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
</head>
<body>
<!--**************************   SIDEBAR   ****************************************-->

<div class="sidebarBox">
    <div class="sidebarTab">
        <div class="sidebarTabArrow">&#x25B2;</div>
    </div>
    <div class="sidebarTopicBox">
        <div class="sidebarTopicMain"><%= mainTopic %></div>
        <div class="sidebarTopicView">View Topic</div>
    </div>
    <div class="sidebarReturnBox">
        <div class="sidebarReturnButton">RETURN TO RESULTS</div>
    </div>
    <div class="sidebarViewBox">
        <div class="sidebarViewType">
            <span>View</span>
            <select id="sidebarView">
                <!--insert sticky select options with NODE.js-->
                <option value="P">Posts</option>
                <option value="S">Statements</option>
            </select>
        </div>
        <div class="sidebarViewIn">
            <span>In</span>
            <select id="sidebarIn">
                <option value="0">Agreement</option>
                <option value="1">Neutrality</option>
                <option value="2">Disagreement</option>
            </select>
        </div>
    </div>
    <div class="sidebarSortBox">
        <span>Sorted by</span>
        <select id="sortAmount">
            <option value="H">Highest Rating</option>
            <option value="Lo">Lowest Rating</option>
            <option value="M">Most Recent</option>
            <option value="Le">Least Recent</option>
        </select>
        <!-- <select id="sortType">
            <option value="Ra">Rating</option>
            <option value="Re">Recent</option>
        </select> -->
    </div>
    <div class="sidebarDisplayBox">
        <span>Display</span>
        <select id="displayNum">
            <option value="5">5 Results</option>
            <option value="10">10 Results</option>
            <option value="20">20 Results</option>
            <option value="50">50 Results</option>
        </select>
    </div>
    <div class="sidebarShowing">
        <span class="sidebarShowingTitle">Showing Results</span>
        <div class="sidebarShowingPrev sidebarShowingButton">
            <div class="sidebarShowingArrow">&#x25B2;</div>
        </div>
        <span class="sidebarShowingNum">1 - 5</span>
        <div class="sidebarShowingNext sidebarShowingButton">
            <div class="sidebarShowingArrow">&#x25B2;</div>
        </div>
    </div>
    <div class="sidebarConfirmBox">
        <div class="sidebarConfirmCLButton sidebarConfirmButton">Search <br>Current Layer</div>
        <div class="sidebarConfirmRButton sidebarConfirmButton">Reset Search Changes</div>
    </div>
</div>
<div id="view_content"></div>