body {
  display: none;
  box-sizing: border-box;
  margin: 0;
  background-color: #e9e9e9; }

#toolbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 3.8vw;
  background-color: #b2b2b2; }
  #toolbar .tls {
    display: inline-block;
    font-size: 2vw;
    background-color: #6ad060;
    border: 0.1vw solid black;
    border-radius: 0.7vw;
    padding: 0.3vw 1vw;
    margin: 0vw 0.4vw; }
  #toolbar .tls:hover {
    cursor: pointer; }
  #toolbar .toolbarLogin {
    background-color: #8c8c8c;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  #toolbar .toolbarSignUp {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  #toolbar .timer {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0vw 0.4vw;
    padding: 0.3vw 1vw;
    background-color: black;
    border: 0.1vw solid white;
    border-radius: 0.7vw;
    color: red;
    font-family: Orbitron, sans-serif;
    font-size: 1.5vw;
    top: 50%;
    transform: translateY(-50%); }
  #toolbar .timer:hover {
    cursor: context-menu; }
  #toolbar .mainTopicTimer {
    margin-left: 1vw;
    width: 7.7vw; }
  #toolbar .postTimer {
    width: 5.4vw; }
  #toolbar .postTimerReady {
    background-color: #6ad060;
    color: black !important;
    border: 0.1vw solid black !important;
    width: 5vw; }
  #toolbar .postTimerReady:hover {
    cursor: context-menu; }
  #toolbar .rateTimer {
    width: 5.4vw; }
  #toolbar #mainLayer {
    display: none;
    vertical-align: top;
    font-size: 2.3vw;
    color: black;
    text-decoration: none;
    background-color: #8c8c8c;
    border: 0.1vw solid white;
    padding: 0.5vw 0.7vw; }
  #toolbar #mainLayer:hover {
    cursor: pointer; }
  #toolbar .layerBox {
    display: inline-block;
    vertical-align: top;
    margin: 0.3vw 0vw;
    width: 55vw; }
    #toolbar .layerBox .layerButton {
      display: inline-block;
      background-color: #6ad060;
      border: 0.1vw solid black;
      border-radius: 0.5vw;
      font-size: 2vw;
      padding: 0.3vw 1vw;
      margin-left: 0.4vw; }
      #toolbar .layerBox .layerButton .layerID, #toolbar .layerBox .layerButton .layerContent, #toolbar .layerBox .layerButton .layerType {
        display: none; }
    #toolbar .layerBox .layerButton:hover {
      cursor: pointer; }
    #toolbar .layerBox .originalLayer {
      display: none; }
  #toolbar .optionsToolbar {
    position: fixed;
    top: 0.5vw;
    right: 1vw;
    padding: 0.3vw 1vw;
    display: inline-block;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    background-color: #8c8c8c;
    border: 0.2vw solid white;
    border-radius: 0.7vw; }

.layerBlackout {
  display: none;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9); }
  .layerBlackout .layerBox {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 0.2vw solid #8c8c8c;
    border-radius: 0.5vw;
    max-width: 90vw;
    max-height: 70vh; }
    .layerBlackout .layerBox .layerContent {
      font-size: 2vw;
      padding: 0.5vw 2vw;
      overflow: auto;
      max-height: 53vh; }
    .layerBlackout .layerBox .layerNavBox {
      text-align: center;
      padding: 1vw 0vw; }
      .layerBlackout .layerBox .layerNavBox .layerNavButton {
        text-align: center;
        font-size: 3vw;
        background-color: #8c8c8c;
        border: 0.2vw solid black;
        display: inline-block; }
      .layerBlackout .layerBox .layerNavBox .layerNavButton:hover {
        cursor: pointer; }
      .layerBlackout .layerBox .layerNavBox .layerNavPrev span {
        display: block;
        transform: scaleX(0.5) rotate(-90deg); }
      .layerBlackout .layerBox .layerNavBox .layerNavGo {
        padding: 0.5vw 1vw;
        margin: 0vw 5vw; }
      .layerBlackout .layerBox .layerNavBox .layerNavNext span {
        display: block;
        transform: scaleX(0.5) rotate(90deg); }

.blackout {
  display: none;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9); }

.signError {
  position: relative;
  top: -1vw;
  font-size: 1.2vw;
  text-align: center;
  color: red;
  max-width: 24vw; }

.optionBlackout {
  display: none;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9); }
  .optionBlackout .optionBox {
    position: fixed;
    background-color: white;
    border: 0.5vw solid #8c8c8c;
    border-radius: 0.5vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .optionBlackout .optionBox .optionButton {
      text-align: center;
      font-size: 4vw;
      border: 0.3vw solid black;
      border-radius: 0.5vw;
      padding: 0.3vw 1vw;
      margin: 2vw 3vw; }
    .optionBlackout .optionBox .optionButton:hover {
      cursor: pointer; }
    .optionBlackout .optionBox .signUpButton {
      background-color: #6ad060; }
    .optionBlackout .optionBox .logInButton {
      background-color: #8c8c8c; }
    .optionBlackout .optionBox .logOutButton {
      background-color: #c93e3c; }
    .optionBlackout .optionBox .optionButton:last-child {
      margin-bottom: 4vw; }

.loginBlackout {
  display: none;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9); }
  .loginBlackout .loginBox {
    position: absolute;
    background-color: white;
    border: 0.3vw solid black;
    border-radius: 0.5vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .loginBlackout .loginBox input {
      font-size: 3vw;
      margin: 2vw 3vw;
      border: none;
      border-bottom: 0.2vw solid black;
      border-radius: 0.2vw; }
    .loginBlackout .loginBox input:focus {
      border: 0.2vw solid #235af9; }
    .loginBlackout .loginBox .passwordBox .loginForget {
      position: relative;
      top: -1.5vw;
      left: 4vw;
      font-size: 1.5vw;
      color: black;
      text-decoration: none; }
    .loginBlackout .loginBox .passwordBox .loginForget:hover {
      cursor: pointer;
      color: blue; }
    .loginBlackout .loginBox #loginSubmit {
      position: relative;
      left: 50%;
      margin-left: 0;
      transform: translateX(-50%);
      background-color: #6ad060;
      font-size: 2vw;
      border: 0.2vw solid black;
      width: 7vw;
      text-align: center;
      padding: 0.5vw;
      margin-bottom: 1vw; }
    .loginBlackout .loginBox #loginSubmit:hover {
      cursor: pointer; }

#archiveNav {
  display: none;
  position: relative;
  top: 6vw;
  left: 26%;
  width: 51vw; }
  #archiveNav .archiveButton {
    position: relative;
    display: inline-block;
    font-size: 5vw;
    font-weight: bold;
    background-color: #8c8c8c;
    border: 0.2vw solid black;
    border-radius: 0.7vw;
    padding: 0 1vw; }
  #archiveNav .archiveButton:hover {
    cursor: pointer; }
  #archiveNav .archiveTitle {
    position: relative;
    display: inline-block;
    background-color: black;
    font-size: 5vw;
    text-align: center;
    color: red;
    border: 0.5vw solid #8c8c8c;
    border-radius: 1vw;
    width: 35vw; }

.mainTopicFront {
  background-color: white;
  border: 0.3vw solid black;
  border-radius: 1vw;
  font-size: 5vw;
  text-align: center;
  padding: 2vw 0vw;
  position: relative;
  max-width: 80%;
  top: 8vw;
  left: 50%;
  transform: translate(-50%); }

.simpleLink {
  display: inline-block; }

.simpleLink:visited {
  color: black; }

.simpleLink:hover {
  color: blue;
  cursor: pointer; }

.previousDiscussions {
  position: relative;
  top: 4.5vw;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5vw; }

.mainButton {
  display: inline-block;
  position: relative;
  font-size: 5vw;
  text-align: center;
  border: 0.2vw solid black;
  border-radius: 0.8vw;
  padding: 1vw 0vw;
  width: 30vw;
  top: 15vw;
  left: 0.7vw; }

.mainButton:hover {
  cursor: pointer; }

.mainRespondButton {
  background-color: #6ad060;
  margin-right: 11.4vw; }

.viewButton {
  color: black;
  background-color: #235af9;
  text-decoration: none; }

.viewButton:visited {
  color: black; }

.respondBlackout {
  display: none;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9); }
  .respondBlackout .respondTopicBox {
    position: fixed;
    text-align: center;
    background-color: white;
    border: 0.3vw solid #8c8c8c;
    border-radius: 0.5vw;
    padding: 2vw 1vw;
    top: 50%;
    left: 30%;
    max-width: 50vw;
    transform: translate(-50%, -50%); }
    .respondBlackout .respondTopicBox .respondTopic {
      font-size: 7vw;
      overflow: auto;
      word-wrap: break-word;
      max-height: 30vw; }
  .respondBlackout .respondBox {
    position: fixed;
    text-align: center;
    background-color: white;
    border: 0.3vw solid #8c8c8c;
    border-radius: 0.5vw;
    padding: 0.3vw 1vw 2vw 1vw;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%); }
    .respondBlackout .respondBox span {
      font-size: 3vw;
      margin-top: 1vw; }
    .respondBlackout .respondBox .respondInButton {
      text-align: center;
      font-size: 3vw;
      border: 0.3vw solid black;
      border-radius: 0.5vw;
      padding: 1vw;
      margin: 1vw;
      width: 28vw; }
      .respondBlackout .respondBox .respondInButton .viewNum {
        display: none;
        position: relative;
        background-color: white;
        border: 0.2vw solid black;
        border-radius: 30%;
        font-size: 2vw;
        margin-right: 1vw;
        padding: 0.3vw;
        top: 0.2vw;
        vertical-align: top; }
      .respondBlackout .respondBox .respondInButton .threeButtonText {
        display: inline-block;
        vertical-align: top; }
      .respondBlackout .respondBox .respondInButton span {
        display: inline-block;
        margin-top: none; }
    .respondBlackout .respondBox .respondInButton:hover {
      cursor: pointer; }
    .respondBlackout .respondBox .agreeButton {
      background-color: #6ad060; }
    .respondBlackout .respondBox .neutralButton {
      background-color: #235af9; }
    .respondBlackout .respondBox .disagreeButton {
      background-color: #c93e3c; }
    .respondBlackout .respondBox .greyButton {
      background-color: #b2b2b2;
      color: #8c8c8c;
      border: 0.3vw solid #8c8c8c; }

.respondSubjectBox {
  position: fixed;
  z-index: 1;
  top: 3.5vw;
  background-color: #e9e9e9;
  padding: 1vw;
  padding-left: 5vw;
  margin-left: 5vw;
  border-bottom-right-radius: 0.5vw; }
  .respondSubjectBox .respondSubjectButton {
    display: inline-block;
    background-color: #b2b2b2;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    font-size: 3vw;
    padding: 0.5vw 1.5vw; }
  .respondSubjectBox .respondSubjectButton:hover {
    cursor: pointer; }
  .respondSubjectBox span {
    font-size: 4vw;
    margin-left: 5vw; }

.postFormBox {
  position: relative;
  top: 11vw;
  left: 10vw;
  width: 80vw; }
  .postFormBox .statementInputBox {
    margin-bottom: 3vw;
    text-align: center; }
    .postFormBox .statementInputBox .statementInput {
      display: block;
      resize: none;
      width: 100%;
      border: 0.2vw solid black;
      font-size: 1.5vw !important;
      padding: 0.5vw 1.5vw; }
    .postFormBox .statementInputBox .statementInput:focus {
      border: 0.2vw solid blue; }
    .postFormBox .statementInputBox .newStatement {
      margin-top: 0.5vw;
      font-size: 1.5vw; }
  .postFormBox .reviewPostButton {
    position: relative;
    font-size: 3vw;
    font-family: serif;
    background-color: #6ad060;
    border: 0.3vw solid black;
    border-radius: 0.3vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5vw 1.5vw;
    margin-bottom: 8vw; }
  .postFormBox .reviewPostButton:hover {
    cursor: pointer; }

.viewTopicBlackout {
  display: none;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9); }
  .viewTopicBlackout .viewTopicBox {
    position: absolute;
    background-color: white;
    border: 0.3vw solid #8c8c8c;
    border-radius: 0.3vw;
    max-width: 90vw;
    max-height: 70vh;
    padding: 0.5vw 1.5vw;
    padding-bottom: 1vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .viewTopicBlackout .viewTopicBox .viewTopic, .viewTopicBlackout .viewTopicBox .reviewContent {
      font-size: 2vw;
      max-height: 60vh;
      overflow-Y: auto; }
    .viewTopicBlackout .viewTopicBox .submitPost {
      display: none;
      font-size: 2vw;
      position: relative;
      background-color: #6ad060;
      border: 0.2vw solid black;
      border-radius: 0.5vw;
      padding: 0.2vw 1.5vw;
      margin-top: 1.5vw;
      left: 50%;
      transform: translateX(-50%); }
    .viewTopicBlackout .viewTopicBox .submitPost:hover {
      cursor: pointer; }

.post {
  position: relative;
  background-color: #b2b2b2;
  width: 80vw;
  left: 58%;
  transform: translateX(-50%);
  padding: 0.7vw;
  border-radius: 0.6vw;
  top: 6vw;
  margin-bottom: 4vw; }
  .post .postID {
    display: none; }
  .post .statement {
    border-bottom: 0.8vw solid white; }
    .post .statement .statementID {
      display: none; }
    .post .statement .statementRatingSpace {
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      width: 1%; }
    .post .statement .statementContentBox {
      position: relative;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      width: 99%; }
      .post .statement .statementContentBox .statementRatingBox {
        position: absolute;
        left: -0.8vw;
        width: 1%;
        height: 100%; }
        .post .statement .statementContentBox .statementRatingBox .statementRating {
          width: 100%; }
        .post .statement .statementContentBox .statementRatingBox .statementRating:nth-child(1) {
          background-color: #6ad060; }
        .post .statement .statementContentBox .statementRatingBox .statementRating:nth-child(2) {
          background-color: #235af9; }
        .post .statement .statementContentBox .statementRatingBox .statementRating:nth-child(3) {
          background-color: #c93e3c; }
      .post .statement .statementContentBox .noRating .statementRating:nth-child(1) {
        height: 33.3%;
        background-color: #989898; }
      .post .statement .statementContentBox .noRating .statementRating:nth-child(2) {
        height: 33.3%;
        background-color: #8e8e8e; }
      .post .statement .statementContentBox .noRating .statementRating:nth-child(3) {
        height: 33.3%;
        background-color: #828282; }
      .post .statement .statementContentBox .statementContent {
        font-size: 1.7vw;
        border-right: 0.2vw solid black;
        background-color: white;
        padding: 0.5vw 1vw;
        word-wrap: break-word; }
      .post .statement .statementContentBox .statementBlackout {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.1);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2; }
        .post .statement .statementContentBox .statementBlackout .statementButton {
          position: absolute;
          font-size: 2vw;
          background-color: #8c8c8c;
          border: 0.1vw solid white;
          border-radius: 0.8vw;
          padding: 0.3vw 1vw; }
        .post .statement .statementContentBox .statementBlackout .statementButton:hover {
          cursor: pointer; }
        .post .statement .statementContentBox .statementBlackout .statementRateButton {
          top: 50%;
          left: 15%;
          transform: translate(-50%, -50%); }
        .post .statement .statementContentBox .statementBlackout .statementViewButton {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          .post .statement .statementContentBox .statementBlackout .statementViewButton .statementResponseNum {
            display: inline-block;
            vertical-align: top;
            font-size: 1.5vw;
            background-color: #c93e3c;
            color: white;
            border: 0.1vw solid black;
            border-radius: 100%;
            padding: 0 0.6vw;
            margin-top: 0.194vw; }
        .post .statement .statementContentBox .statementBlackout .statementRespondButton {
          top: 50%;
          left: 85%;
          transform: translate(-50%, -50%); }
    .post .statement .statementContentBox:hover .statementBlackout {
      display: block; }
    .post .statement .statementContentBox:hover .statementContent {
      -webkit-filter: blur(1.5px); }
  .post .postButton {
    display: none;
    position: relative;
    vertical-align: bottom;
    font-size: 3vw;
    background-color: #8c8c8c;
    border: 0.1vw solid black;
    border-radius: 0.8vw;
    padding: 0vw 1.5vw;
    margin-top: 0.7vw;
    margin-left: 3vw; }
  .post .postButton:hover {
    cursor: pointer; }
  .post .postViewButton .postResponseNum {
    display: inline-block;
    background-color: #c93e3c;
    font-size: 2vw;
    vertical-align: top;
    margin-top: 0.5vw;
    color: white;
    border: 0.1vw solid black;
    border-radius: 100%;
    padding: 0 0.7vw; }
  .post .postRatingBox {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 2.6vw;
    left: 15%;
    transform: translateX(-50%); }
    .post .postRatingBox .postRating {
      font-size: 0;
      display: inline-block;
      margin: 0;
      height: 100%; }
    .post .postRatingBox .postRating:nth-child(1) {
      background-color: #6ad060;
      width: 33.3%; }
    .post .postRatingBox .postRating:nth-child(2) {
      background-color: #235af9;
      width: 33.3%; }
    .post .postRatingBox .postRating:nth-child(3) {
      background-color: #c93e3c;
      width: 33.3%; }
  .post .noRating .postRating:nth-child(3) {
    width: 33.3%;
    background-color: #989898; }
  .post .noRating .postRating:nth-child(2) {
    width: 33.3%;
    background-color: #8e8e8e; }
  .post .noRating .postRating:nth-child(1) {
    width: 33.3%;
    background-color: #828282; }
  .post .postReadMore {
    position: absolute;
    text-align: center;
    font-size: 3vw;
    background-color: #8c8c8c;
    border: 0.1vw solid black;
    width: 30%;
    padding: 0vw 3.2vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0; }
  .post .postReadMore:hover {
    cursor: pointer; }

.sidebarBox {
  position: fixed;
  background-color: white;
  border-right: 0.1vw solid black;
  height: 100vh;
  width: 15vw;
  z-index: 1; }
  .sidebarBox .sidebarTab {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: -2.5vw;
    background-color: #8c8c8c;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    z-index: -1; }
    .sidebarBox .sidebarTab .sidebarTabArrow {
      transform: rotate(-90deg) scaleY(0.5);
      font-size: 3vw; }
  .sidebarBox .sidebarTab:hover {
    cursor: pointer; }
  .sidebarBox .sidebarTopicBox {
    background-color: white;
    margin-top: 4.3vw;
    border-bottom: 0.2vw solid black; }
    .sidebarBox .sidebarTopicBox .sidebarTopicMain {
      font-size: 2.2vw;
      text-align: center;
      padding-bottom: 0.5vw; }
    .sidebarBox .sidebarTopicBox .sidebarTopicView {
      display: none;
      position: relative;
      background-color: #8c8c8c;
      font-size: 2.8vw;
      text-align: center;
      border: 0.3vw solid black;
      border-radius: 0.5vw;
      padding: 0.5vw 0vw;
      margin: 1vw 1vw; }
    .sidebarBox .sidebarTopicBox .sidebarTopicView:hover {
      cursor: pointer; }
  .sidebarBox .sidebarReturnBox {
    display: none;
    background-color: white;
    padding: 8vw 1vw; }
    .sidebarBox .sidebarReturnBox .sidebarReturnButton {
      padding: 0.5vw 1vw;
      text-align: center;
      font-size: 1.8vw;
      background-color: #8c8c8c;
      border: 0.2vw solid black;
      border-radius: 0.5vw; }
    .sidebarBox .sidebarReturnBox .sidebarReturnButton:hover {
      cursor: pointer; }
  .sidebarBox .sidebarViewBox {
    background-color: white;
    border-bottom: 0.2vw solid black;
    padding: 1vw 0vw;
    text-align: center; }
    .sidebarBox .sidebarViewBox .sidebarViewType {
      margin-bottom: 0.5vw; }
      .sidebarBox .sidebarViewBox .sidebarViewType span {
        font-size: 1.3vw; }
      .sidebarBox .sidebarViewBox .sidebarViewType select {
        font-size: 1vw;
        min-width: 8vw; }
    .sidebarBox .sidebarViewBox .sidebarViewIn span {
      font-size: 1.3vw; }
    .sidebarBox .sidebarViewBox .sidebarViewIn select {
      font-size: 1vw;
      min-width: 8vw; }
  .sidebarBox .sidebarSortBox {
    background-color: white;
    border-bottom: 0.2vw solid black;
    text-align: center;
    padding: 1vw 0vw; }
    .sidebarBox .sidebarSortBox span {
      display: block;
      font-size: 1.3vw; }
    .sidebarBox .sidebarSortBox select {
      font-size: 1vw;
      min-width: 8vw;
      margin-top: 0.5vw; }
  .sidebarBox .sidebarDisplayBox {
    background-color: white;
    border-bottom: 0.2vw solid black;
    padding: 1vw 0vw;
    text-align: center; }
    .sidebarBox .sidebarDisplayBox span {
      font-size: 1.3vw;
      display: block; }
    .sidebarBox .sidebarDisplayBox select {
      font-size: 1vw;
      margin-top: 0.5vw;
      min-width: 8vw; }
  .sidebarBox .sidebarShowing {
    background-color: white;
    position: relative;
    text-align: center; }
    .sidebarBox .sidebarShowing span {
      font-size: 1.8vw; }
    .sidebarBox .sidebarShowing .sidebarShowingTitle {
      padding-top: 1vw;
      display: block; }
    .sidebarBox .sidebarShowing .sidebarShowingNum {
      margin: 0vw 1vw; }
    .sidebarBox .sidebarShowing .sidebarShowingButton {
      display: inline-block;
      font-size: 0;
      background-color: #8c8c8c;
      border: 0.1vw solid black; }
      .sidebarBox .sidebarShowing .sidebarShowingButton .sidebarShowingArrow {
        font-size: 2vw; }
    .sidebarBox .sidebarShowing .sidebarShowingButton:hover {
      cursor: pointer; }
    .sidebarBox .sidebarShowing .sidebarShowingPrev .sidebarShowingArrow {
      transform: rotate(-90deg) scaleY(0.5); }
    .sidebarBox .sidebarShowing .sidebarShowingNext .sidebarShowingArrow {
      transform: rotate(90deg) scaleY(0.5); }
  .sidebarBox .sidebarConfirmBox {
    display: none;
    padding: 0.5vw 1vw;
    background-color: white; }
    .sidebarBox .sidebarConfirmBox .sidebarConfirmButton {
      background-color: #6ad060;
      text-align: center;
      font-size: 1.3vw;
      font-weight: bold;
      border: 0.1vw solid black;
      border-radius: 0.5vw;
      padding: 0.3vw 0vw;
      margin-bottom: 0.5vw; }
    .sidebarBox .sidebarConfirmBox .sidebarConfirmButton:hover {
      cursor: pointer; }
    .sidebarBox .sidebarConfirmBox .sidebarConfirmMTButton {
      background-color: #235af9; }
    .sidebarBox .sidebarConfirmBox .sidebarConfirmRButton {
      background-color: #8c8c8c; }

.rateBlackout {
  display: none;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9); }
  .rateBlackout .rateContent {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    background-color: white;
    border: 0.2vw solid #8c8c8c;
    border-radius: 0.5vw;
    max-height: 70%;
    max-width: 70%;
    padding: 1vw;
    overflow: auto; }
  .rateBlackout .rateRatingBox {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 0.2vw solid #8c8c8c;
    border-radius: 0.5vw;
    padding: 3vw 1vw; }
    .rateBlackout .rateRatingBox .rateRatingButton {
      text-align: center;
      font-size: 3vw;
      border: 0.2vw solid black;
      border-radius: 0.5vw;
      padding: 0.2vw 1vw; }
    .rateBlackout .rateRatingBox .rateRatingButton:hover {
      cursor: pointer; }
    .rateBlackout .rateRatingBox .rateRatingGreen {
      background-color: #6ad060; }
    .rateBlackout .rateRatingBox .rateRatingBlue {
      background-color: #235af9;
      margin: 1vw 0vw; }
    .rateBlackout .rateRatingBox .rateRatingRed {
      background-color: #c93e3c; }

.signUpMessage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 4vw; }

.signUpForm {
  display: inline-block;
  position: relative;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 0.3vw solid black;
  border-radius: 0.5vw;
  text-align: -webkit-center;
  padding: 1vw; }
  .signUpForm input {
    display: block;
    font-size: 2vw;
    margin-bottom: 1vw;
    border: 0.2vw solid white;
    border-bottom: 0.2vw solid black; }
  .signUpForm input:focus {
    border: 0.2vw solid blue; }
  .signUpForm .signUpSubmit {
    display: inline-block;
    font-size: 2vw;
    margin-bottom: 1vw;
    padding: 0.5vw 1vw;
    background-color: #6ad060;
    border: 0.2vw solid black; }
  .signUpForm .signUpSubmit:hover {
    cursor: pointer; }
  .signUpForm .logInButton {
    margin-right: 2vw;
    background-color: #8c8c8c; }

/*# sourceMappingURL=style.css.map */
